html, body {
  background-color: rgb(10, 10, 10);
}

.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 70px;
  letter-spacing: 2px;
}

.time {
  color: #fff;
  text-align: center;
  padding: 70px 0 50px;
}

.button__wrapper {
  text-align: center;
}

.button__item {
  font-family: 'Helvetica-Light', Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  background-color: #545151;
  border: 3px solid #0a0a0a;
  box-shadow: 0 0 0 3px #545151;
  color: white;
  margin: 10px 60px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.button__item.disabled {
  background-color: #2d1414;
  border: 3px solid #0a0a0a;
  box-shadow: 0 0 0 3px #2d1414;
  color: #b1b1b1;;
}

.green {
  color: #35ca35;
}

.red {
  color: #ff2f2f;
}

.white {
  color: white;
}

.button__green {
  background-color: #008000b0;
  border: 3px solid #0a0a0a;
  box-shadow: 0 0 0 3px #008000b0;
  color: #24ff24;
}

.button__red {
  background-color: #ea000082;
  border: 3px solid #0a0a0a;
  box-shadow: 0 0 0 3px #ea000082;
  color: #ff7800;
}

.timer__table {
  width: 260px;
  border-spacing: 0 15px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.timer__table td {
  font-family: 'Helvetica-Light', Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  width: 200px;
  padding: 10px 0;
  border-bottom: 1px solid #3e3e3e;
}

.timer__table td:nth-child(2) {
  text-align: right;
}